p.title_product{
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
}
span.specification_product {
    color: #999;
}
input.price_customer, input.price_row{
    border-bottom: 1px solid #c2cad8!important;
    border-radius: 0;
    outline: 0!important;
    width: 120px;
}
.tool_tip_item_name {
    display: none;
}
.item_name{
    position: relative;
}
.item_name:hover .tool_tip_item_name{
    display: block;
    position: absolute;
    top: 100%;
}
.tool_tip_item_name a{
    padding: 0 10px;
}
.tool_tip_item_name a:hover{
    text-decoration: underline;
}
.tool_tip_item_name a{
    border-right: 1px solid #ccc;
}
.tool_tip_item_name a:last-child{
    border-right: none
}

#search-medicine{
    position: relative;
}
#list-medicines{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
